.mainSHR {
    width: 100%;
    margin: 40px 0;
}
@keyframes anim {   
    from {
        opacity: 0;
    } to {
        opacity: 100;
    }
  } 
.SR__block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .slowlyShow {
        transition: 0.5s;
        opacity: 0;
        display: none;
    }
    .slowlyView {
        animation: anim 0.5s;
        // transition: 1s;
        // opacity: 1;
    }

    .dontShow {
        // opacity: 50%;
        visibility: hidden;
    }
   
    .BigBlock {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
       
        .OtdelsRukovodstvo {
            display: flex;
            flex-direction: column;
            .Rukovodstvo {
                display: flex;
            }
            .horizontalLines {
                height: 100px;
            }
        }
      
        .firstKategory, .secondKategory {
            display: flex;
            justify-content: center;
            align-items: flex-start;
            margin-left: 90px;
          
        }
        .secondKategory {
            .Otdel {
                margin-top: 50px;
            }
        }
        
    }

    .verticalLines { 
        height: 50px;
    }
    .SR_card {
        padding: 20px;
        width: 200px;
        border: 3px solid black;
        border-radius: 30px;
        background-color: green;
        text-align: center;
        margin: 0 20px;
    }
    .divCanvas {
        height: 50px;
    }
    
    .podCategory {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        // margin-left: 180px;
        .dontShow {
            visibility: hidden;
        }
        .podOtdelsFirstKategory, .podOtdelsSecondKategory {
            display: flex;
        }
        // .podOtdels {
        //     display: flex;
        //     justify-content: center;
        //     flex-direction: column;
        //     align-items: flex-start;
        //     margin-left: 90px;
          
            .podOtdelsSecondKategory {
                .Otdel {
                    // margin-top: 50px;
                }
            }
        //     .positions {
        //         .Otdel {
        //             margin-top: 50px;
        //         }
        //     }
        // }
    
    }

}
.Otdel {
    // opacity: 20%;
}
.active {
    border: 3px solid yellow;
}